*.egg
*.egg-info
*.mo
*.pyc
*.pyo
.eggs
.installed.cfg
.mr.developer.cfg
.tox
.coverage*
bin
build
_build
coverage.xml
default.profraw
develop-eggs
dist
downloads
eggs
htmlcov
local.cfg
parts
pyvenv.cfg
var
include
lib
local
src
